form {
  padding: 0;
  margin: 0;
}

label, input, .validation {
  width: 100%;
  line-height: 25px;
  padding: 0;
  margin: 0;
}

label {
  margin: 1px 0 26px 0;
}

button {
  width: 20%;
}

p {
  margin: 0;
  padding: 0;
}
