.gameName {
    color: #2d2d2d;
    text-align: left;
    padding: 10px 10px 10px;
    word-wrap: break-word;
}

.detailsName {
    padding: 10px 10px 10px;
}

/* Styling for checked stars */
.checked {
    color: orange;
}

.container-fluid {
    padding: 20px 50px;
    margin: auto;
}

.jumbotron {
    padding: 20px 50px;
    margin: auto auto 10px auto;
}

.profilePic {
    width: 15%;
    height: auto;
}

.stars-outer {
    text-align: right;
    float: right;
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}

.stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
    float: right;
    text-align: right;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 50%;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
}

.profilePicture {
    width: 50px;
    height: 50px;
}

img {
    object-fit: contain;
}

.commentPicture {
    width: 25px;
    height: 25px;
}

.ratingstars {
    color: #4C3F12;
}

.row {
    margin: auto;
}

.col.head {
    text-align: right;
}

.jumbotron.reviews {
    background-color : #aaaaaa;
}

.jumbotron.comments {
    background-color: #aaaaaa;
    padding: 10px 10px;
    margin: auto auto 10px auto;
}

.carousel-item {
  max-height: 720px;
}

.carousel {
    padding : 0px 0px 10px;
}

.journalist-review {
    background-color: darkgoldenrod;
}
