.gameName {
    padding: 10px 10px 10px;
    border: 1px solid grey;
    float: left;
}

.Stars {
    float: right;
}

/* Styling for checked stars */
.checked {
    color: orange;
}

.container-fluid {
    padding: 20px 50px 0px;
}

.jumbotron {
    padding: 20px 50px 20px;
    background-color: #dddddd;
}

.carousel {
    padding: 10px 0px 10px;
}

.profilePic {
    width: 15%;
    height: auto;
}
