.gameName {
    padding: 10px 10px 10px;
    float: left;
    color:#2d2d2d;
}

/* Styling for checked stars */
.checked {
    color: orange;
}

.container-fluid {
    padding: 20px 50px;
}

.jumbotron {
    padding: 20px 50px;
    background-color: #dddddd;
}

.profilePic {
    width: 15%;
    height: auto;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 50%;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

img {
    object-fit: contain;
}

.commentPic {
    width: 50px;
    height: 50px;
    object-fit: contain;
}
