{% extends 'reviews/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About Us.
{% endblock %}

{% block stylesheets_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock %}

{% block body_block %}
    <!-- Set active tag -->
    <script type="text/javascript">
        document.getElementById("homeTab").classList.remove("active");
        document.getElementById("aboutTab").classList.add("active");
        document.getElementById("gamesTab").classList.remove("active");
    </script>

    <h1>{{ heading }}</h1>
    <!-- About Information -->
    <div class="container-fluid w-75 my-5">
        <p>
            Gitgud Games is a website that allows gamers and journalists to get the basic information they need on games,
            as well as game reviews by journalists that are rated by users so gamers know they are reading reviews they
            can trust. <br>
            The site is a result of a team project for the Web App Development 2 course at the University of Glasgow.
            Below are the profiles of the developers, as well as a little bit about them.
        </p>
    </div>

    <!-- Profiles of developers -->
    <div class="container-fluid w-75">
        {% if developers %}
            {% for developer in developers %}
                <div class="container-fluid w-75 p-3 my-2 clearfix profile">
                    <img src="{{ developer.icon }}" alt="{{ developer.username }} icon"
                         class="float-left"/>
                    <a href="{% url 'profile/{{ developer.username }}' %}">{{ developer.name }}</a>
                </div>
            {% endfor %}
        {% else %}
            <strong>There are no developers present.</strong>
        {% endif %}
    </div>
{% endblock %}
