{% extends 'reviews/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About Us.
{% endblock %}

{% block stylesheets_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock %}

{% block body_block %}
    <!-- Set active tag -->
    <script type="text/javascript">
      set_active_tab("about_tab")
    </script>

    <h1>{{ heading }}</h1>
    <!-- About Information -->
    <div class="container-fluid p-5">
        <p>
            Gitgud Games is a website that allows gamers and journalists to get the basic information they need on games,
            as well as game reviews by journalists that are rated by users so gamers know they are reading reviews they
            can trust. <br>
            The site is a result of a team project for the Web App Development 2 course at the University of Glasgow.
            Below are the profiles of the developers, as well as a little bit about them.
        </p>
    </div>

    <!-- Profiles of developers -->
    <div class="container w-100 p-0">
      <h2>Developers</h2>
      {% if developers %}
        {% for developer in developers %}
          <a href="{% url 'profile' developer.user.username %}">
            <div class="container-fluid w-75 my-3">
              <div class="row p-3">
                <div class="col-sm-2">
                  <img src="{{ developer.profile_image.url }}" alt="{{ developer.user.username }} icon"
                    class="mx-auto d-block"/>
                </div>
                <div class="col">
                  {% if developer.display_name is not None %}
                    <h3>{{ developer.display_name }}</h3>
                  {% else %}
                    <h3>{{ developer.user.username }}</h3>
                  {% endif %}
                  {% if developer.biography is not None %}
                    <p>{{ developer.biography }}</p>
                  {% endif %}
                </div>
              </div>
            </div>
          </a>
        {% endfor %}
      {% else %}
        <strong>There are no developers present.</strong>
      {% endif %}
    </div>
{% endblock %}
