<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head lang="en">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>
      GitgudGames - {% block title_block %}{% endblock %}
    </title>
    <!-- Bootstrap Stylesheets -->
    <link href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://v4-alpha.getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
    <!-- Custom Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block stylesheets_block %}{% endblock %}
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
      <!-- Collapse button -->
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button"
        data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand button -->
      <a class="navbar-brand px-5" href="{% url 'index' %}">Gitgud</a>
      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" id="homeTab">
            <a href="{% url 'index' %}">Home</a></li>
          <li class="nav-item" id="aboutTab">
            <a href="{% url 'about' %}">About</a></li>
          <li class="nav-item" id="gamesTab">
            <a href="{% url 'games' %}">Games</a></li>
          {% if user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'logout' %}">Logout</a></li>
          {% endif %}
        </ul>
        {% if user.is_authenticated %}
          <ul class="navbar-nav pull-md-right">
            <li class="nav-item">
              <a href="{% url 'profile' user %}">
                <img src="{{ profile_image_url }}" alt="Profile">
              </a>
            </li>
          </ul>
        {% endif %}
      </div>
    </nav>

    <!-- CONTENT -->
    {% if messages %}
      {% for message in messages %}
        <div class="{{ message.tags }} my-1 text-center" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    <div id="content">
      {% block body_block %}
      {% endblock %}
    </div>

    <!-- FOOTER -->
    <div>
      <hr />
      <h2><em>Footer</em></h2>
      TODO: Links or something.
    </div>

    <!-- Bootstrap JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
