{% extends 'reviews/base.html' %}
{% load staticfiles %}

{% block title_block %}
  {{ heading }}
{% endblock %}

{% block stylesheets_block %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block body_block %}
  <h1>{{ heading }}</h1>
  <div class="container-fluid col-sm-8 p-5 mx-auto">
    <form action="{% url 'edit_profile' user.username %}"
      method="POST" id="profileForm">
      {% csrf_token %}
      {% for field in user_form.visible_fields %}
        <div class="row">
          <div class="col-sm-4">{{ field.help_text }}</div>
          <div class="col">{{ field }}</div>
        </div>
        <div class="row">
          <div class="col-sm-4">&nbsp;</div>
          <div class="col">{{ field.errors }}</div>
        </div>
      {% endfor %}
      {% for field in profile_form.visible_fields %}
        <div class="row">
          <div class="col-sm-4">{{ field.help_text }}</div>
          <div class="col">{{ field }}</div>
        </div>
        <div class="row">
          <div class="col-sm-4">&nbsp;</div>
          <div class="col">{{ field.errors }}</div>
        </div>
      {% endfor %}
      <div class="row">
        <button class="btn btn-secondary float-right"
          type="submit" form="profileForm">Submit</button>
      </div>
    </form>
  </div>
{% endblock %}
