{% extends 'reviews/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Welcome
{% endblock %}

{% block stylesheets_block %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/games.css' %}">
{% endblock %}

{% block body_block %}
  <!-- Set active tag -->
  <script type="text/javascript">
    document.getElementById("homeTab").classList.remove("active");
    document.getElementById("aboutTab").classList.remove("active");
    document.getElementById("gamesTab").classList.add("active");
  </script>

  <h1>{{ heading }}</h1>
  <!-- Filtering options -->
  <div class="container-fluid py-5">
    <form action="{% url 'games' %}" method="POST" id="searchCriteria">
      {% csrf_token %}
      <div class="row mb-5">
        <!-- Genre -->
        <div class="col">
          <h3>Genres:</h3>
          {% for genre in genres %}
            <li><input class="form-check-input" type="checkbox"
              id="genre-{{ genre }}" name="genre-{{ genre }}" {% if genre in genres_checked %}checked=checked{% endif%} />
            <label class="form-check-label" for="genre-{{ genre }}">
              {{ genre }}</label></li>
          {% endfor %}
        </div>

        <!-- Platform -->
        <div class="col">
          <h3>Platforms:</h3>
          {% for platform in platforms %}
            <li><input class="form-check-input" type="checkbox"
              id="platform-{{ platform }}" name="platform-{{ platform }}" {% if platform in platforms_checked %}checked=checked{% endif %}/>
            <label class="form-check-label" for="platform-{{ platform }}">
              {{ platform }}</label></li>
          {% endfor %}
        </div>

        <!-- Order by -->
        <div class="col">
          <h3>Order By:</h3>
            <li><input class="form-check-input" type="radio" name="order"
              id="radioNameAsc" value="name" {% if order == "name" %}checked=checked{% endif %} />
            <label class="form-check-label" for="radioNameAsc">
              Name Ascending</label></li>
            <li><input class="form-check-input" type="radio" name="order"
              id="radioNameDsc" value="-name" {% if order == "-name" %}checked=checked{% endif %} />
            <label class="form-check-label" for="radioNameDsc">
              Name Decending</label></li>
            <li><input class="form-check-input" type="radio" name="order"
              id="radioRelAsc" value="releaseDate" {% if order == "releaseDate" %}checked=checked{% endif %} />
            <label class="form-check-label" for="radioRelAsc">
              Release Date Ascending</label></li>
            <li><input class="form-check-input" type="radio" name="order"
              id="radioRelDsc" value="-releaseDate" {% if order == "-releaseDate" %}checked=checked{% endif %} />
            <label class="form-check-label" for="radioRelDsc">
              Release Date Descending</label></li>
        </div>
      </div>

      <!-- Price Slider -->
      <h3>Price:</h3>
      <div class="row mb-5 w-50 mx-auto">
        <div class="col">
          <label for="min_price">Min:</label>
          <input type="number" name="min_price" value="0"
            class="w-75">
        </div>
        <div class="col">
          <label for="max_price">Max:</label>
          <input type="number" name="max_price" value="100"
            class="w-75">
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-row text-center clearfix">
        <button type="submit" class="btn btn-secondary"
          form="searchCriteria">Submit</button>
      </div>
    </form>
  </div> <!-- Container -->
  <hr />

  <!-- Games list -->
  <h3>Results:</h3>
  <div id="container results">
    <!-- Display list of games that meet search criteria -->
    {% if games %}
      {% for game in games %}
        <a href="{% url 'game' game.slug %}">
          <div class="container-fluid my-2">
            <h3>{{ game.name }}</h3>
            <div class="">{{ game.average_rating }}</div>
            <p>{{ game.description }}</p>
          </div>
        </a>
      {% endfor %}
    {% else %}
      <strong>No games fit the search criteria.</strong>
    {% endif %}
  </div>
{% endblock %}
