{% extends 'reviews/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Welcome
{% endblock %}

{% block stylesheets_block %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/games.css' %}">
{% endblock %}

{% block body_block %}
  <h1>{{ heading }}</h1>
  <!-- Filtering options -->
  <div class="container-fluid py-5">
    <form action="" method="GET" id="searchCriteria">
      <div class="form-row mb-5 clearfix">
        <!-- Genre -->
        <div class="col-sm-4 float-left">
          <h3>Genres:</h3>
          <fieldset>
          {% for genre in genres %}
            <li><input class="form-check-input" type="checkbox"
              id="check{{ genre }}"/>
            <label class="form-check-label" for="check{{ genre }}">
              {{ genre }}</label></li>
          {% endfor %}
          </fieldset>
        </div>

        <!-- Platform -->
        <div class="col-sm-4 float-left">
          <h3>Platforms:</h3>
          <fieldset>
          {% for platform in platforms %}
            <li><input class="form-check-input" type="checkbox"
              id="check{{ platform }}"/>
            <label class="form-check-label" for="check{{ platform }}">
              {{ platform }}</label></li>
          {% endfor %}
          </fieldset>
        </div>

        <!-- Order by -->
        <div class="col-sm-4 float-left">
          <h3>Order By:</h3>
          <fieldset>
            <li><input class="form-check-input "type="radio" name="radioOrder"
              id="radioNameAsc" value="nameAsc" />
            <label class="form-check-label" for="radioNameAsc">
              Name Ascending</label></li>
            <li><input class="form-check-input "type="radio" name="radioOrder"
              id="radioNameDsc" value="nameDsc" />
            <label class="form-check-label" for="radioNameDsc">
              Name Decending</label></li>
            <li><input class="form-check-input "type="radio" name="radioOrder"
              id="radioRelAsc" value="relAsc" />
            <label class="form-check-label" for="radioRelAsc">
              Release Ascending</label></li>
            <li><input class="form-check-input "type="radio" name="radioOrder"
              id="radioRelDsc" value="RelDsc" />
            <label class="form-check-label" for="radioRelDsc">
              Release Descending</label></li>
          </fieldset>
        </div>
      </div>

      <!-- Price Slider -->
      <!--<div class="form-row">
        <h3>Price:</h3>
        <label for="rangePrice" class="float-left">£0</label>
        <label for="rangePrice" class="float-right">£100</label>
        <input type="range" id="rangePrice" class="w-100"
          min="0" max="100" value="50" />
      </div>-->

      <!-- Submit Button -->
      <div class="form-row text-center clearfix">
        <button type="submit" class="btn btn-secondary"
          form="searchCriteria">Submit</button>
      </div>
    </form>
  </div> <!-- Container -->
  <hr />

  <!-- Games list -->
  <div class="container">
    <h3>Results:</h3>
    <div id="results">
      <!-- Display full list of games by default -->
      {% if games %}
        <ul>
          {% for game in games %}
            <li><a href="{% url 'game' %}">{{ game.name }}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <strong>There are no games present.</strong>
      {% endif %}
    </div>
  </div>
{% endblock %}
