{% extends 'reviews/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Welcome
{% endblock %}

{% block body_block %}
  <!-- Heading and welcome message -->
  <h1>{{ heading }}</h1>
  {% if user.is_authenticated %}
    Greetings {{ user.username }}!
  {% else %}
    Greetings?
  {% endif %}

  <!-- Development Only -->
  <div>
    <h2>Development Pages:</h2>
    <ul style="background-color: #333;">
      <li><a href="{% url 'game' %}">Game Page</a></li>
      <li><a href="{% url 'profile' %}">Profile Page</a></li>
      <li><a href="{% url 'edit' %}">Profile Edit Page</a></li>
      <li><a href="{% url 'register' %}">Register Page</a></li>
      <li><a href="{% url 'login' %}">Login Page</a></li>
      <li><a href="{% url 'restricted' %}">Restricted Page</a></li>
      <li><a href="{% url 'review' %}">Review Page</a></li>
    </ul>
  </div>

  <!-- Show top 5 games -->
  <div>
    <h2>Top 5 games:</h2>
    {% if games %}
      <ul>
        {% for game in games %}
          <li><a href="{% url 'game' %}">{{ game.name }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <strong>There are no games present.</strong>
    {% endif %}
  </div>

  <!-- Login/Register -->
  {% if not user.is_authenticated %}
    <div class="container w-50 mx-auto px-0">
      <button class="btn btn-primary" name="register"
        onclick="{% url 'register' %}">Register</button>
      <button class="btn btn-primary float-right" name="login"
        onclick="{% url 'login' %}">Login</button>
    </div>
  {% endif %}
{% endblock %}
