{% extends 'reviews/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Log In
{% endblock %}

{% block stylesheets_block %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/loginregister.css' %}">
{% endblock %}

{% block body_block %}
<h1>{{ heading }}</h1>
  <div class="container-fluid col-sm-8 p-5 mx-auto">
    <form action="{% url 'login' %}" method="POST" id="loginForm">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
        <div class="row">
          <div class="col-sm-4">
            <label for="usename">Username</label>
          </div>
          <div class="col"><input class="" type="text"
              name="username" id="username">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <label for="password">Password</label>
          </div>
          <div class="col"><input class="" type="password"
            name="password" id="password">
          </div>
        </div>
      <p class="">Not registered?</p>
      <div class="form-row clearfix">
        <button class="float-left btn btn-secondary" type="button"
            onclick="window.location.href='{% url 'register' %}'">Register</button>
        <button class="float-right btn btn-secondary" type="submit"
          form="loginForm">Log In</button>
      </div>
    </form>
  </div>
{% endblock %}
