{% extends 'reviews/base.html' %}
{% load staticfiles %}

{% block title_block %}
  {{ heading }}
{% endblock %}

{% block stylesheets_block %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block body_block %}
  <h1 style="position:relative;">{{ heading }}</h1>
  {% if user == profile.user %}
    <button class="btn btn-primary position-absolute" type="button"
      style="position:absolute; right:30px; top:60px;"
      onclick="window.location.href='{% url 'edit_profile' user.username %}'">Edit</button>
  {% endif %}
  <!-- User details and biography -->
  <h2>Details</h2>
  <div class="row clearfix">
    <div class="col-sm-4">
      <div class="container-fluid p-5">
        {% if profile.profile_image %}
          <img class="profile_image mx-auto"
          src="{{ profile.profile_image.url }}"
          alt="profile image">
        {% else %}No image.{% endif %}
      </div>
    </div>
    <div class="col">
      <div class="container-fluid w-100 p-5">
        <ul>
          <li>Name: {{ profile.display_name }}</li>
          <li>Email: {{ profile.user.email }}</li>
          <li>Date Of Birth: {{ profile.date_of_birth }}</li>
          <li>Journalist: {{ profile.is_journalist }}</li>
          <li>Joined: {{ profile.user.date_joined }}</li>
          <li>Last Login: {{ profile.user.last_login }}</li>
        </ul>
      </div>
    </div>
  </div>
  <h2>Biography</h2>
  <div class="container-fluid w-100 clearfix">
    <p>{{ profile.biography }}</p>
  </div>

  <!-- Generate list of reviews by user -->
  <h2>Reviews</h2>
  {% if reviews %}
    {% for review in reviews %}
      <div class="container-fluid w-100 review">
        <h3>{{ review.game.name }}</h3>
        <p>{{ review.review_text }}</p>
        <button class="float-right btn btn-secondary"
          type="submit" name="">View</button>
      </div>
    {% endfor %}
    <button class="float-right btn btn-secondary"
      type="submit" name="reviews_button">More</button>
  {% else %}
    <div class="container-fluid w-100">
      <strong>User has not made any reviews.</strong>
    </div>
  {% endif %}

  <!-- Generate list of comments by user -->
  <h2>Comments</h2>
  {% if comments %}
    {% for comment in comments %}
      <div class="container-fluid w-100 comment">
        <h3>Review by {{ comment.review.poster.username }} on
          {{ comment.review.game.name }}</h3>
        <p>{{ comment.comment_text }}</p>
        <button class="float-right btn btn-secondary"
         type="submit" name="">View</button>
      </div>
    {% endfor %}
    <button class="float-right btn btn-secondary"
      type="submit" name="comments_button">More</button>
  {% else %}
    <div class="container-fluid w-100">
      <p><strong>User has not made any comments.</strong></p>
    </div>
  {% endif %}
{% endblock %}
