{% extends 'reviews/base.html' %}
{% load staticfiles %}

{% block title_block %}
  {{ heading }}
{% endblock %}

{% block stylesheets_block %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block body_block %}
  <!-- Set active tag -->
  <script type="text/javascript">
    set_active_tab("profile_tab")
  </script>

  <h1 class="position-relative">{{ heading }}</h1>
  {% if user == profile.user %}
    <button class="btn btn-primary edit-button" type="button"
      onclick="window.location.href='{% url 'edit_profile' user.username %}'">Edit</button>
  {% endif %}
  <!-- User details and biography -->
  <h2>Details</h2>
  <div class="row w-75 mx-auto clearfix">
    <div class="col-sm-4">
      <div class="container-fluid p-5 text-center">
        {% if profile.profile_image %}
          <img class="profile-image mx-auto img-fluid"
          src="{{ profile.profile_image.url }}"
          alt="profile image">
        {% else %}No image.{% endif %}
      </div>
    </div>
    <div class="col">
      <div class="container-fluid w-100 p-5">
        <ul>
          <li>Name: {% if profile.display_name %} {{ profile.display_name }} {% else %} {{ profile.user.username }} {% endif %}</li>
          <li>Email: {% if profile.user.email %} {{ profile.user.email }} {% else %} User hasn't provided an email address. {% endif %}</li>
          <li>Date of Birth: {% if profile.date_of_birth %} {{ profile.date_of_birth }} {% else %} User hasn't provided a date of birth. {% endif %}</li>
          <li>Journalist: {% if profile.is_journalist %} Yes {% else %} No {% endif %}</li><br />
          <li>Joined: {{ profile.user.date_joined }}</li>
          <li>Last Login: {{ profile.user.last_login }}</li>
        </ul>
      </div>
    </div>
  </div>
  <h2>Biography</h2>
  <div class="container-fluid mx-auto p-5">
    <p>{{ profile.biography }}</p>
  </div>

  <!-- Generate list of reviews by user -->
  <div class="container">
    <h2>Reviews</h2>
    {% if reviews %}
      {% for review in reviews %}
      <div class="container-fluid px-5 py-3 w-100 clearfix">
        <h3>{{ review.game.name }}</h3>
        <p>{{ review.review_text }}</p>
        <button class="float-right btn btn-secondary"
          type="button" onclick="window.location.href='{% url 'game' review.game.slug %}'">View</button>
      </div>
      {% endfor %}
    {% else %}
      <div class="container-fluid w-100">
        <strong>User has not made any reviews.</strong>
      </div>
    {% endif %}
  </div>

  <!-- Generate list of comments by user -->
  <div class="container">
    <h2>Comments</h2>
    {% if comments %}
      {% for comment in comments %}
      <div class="container-fluid px-5 py-3 w-100 clearfix">
        <h3>Review by {{ comment.review.poster.username }} on
          {{ comment.review.game.name }}</h3>
          <p>{{ comment.comment_text }}</p>
          <button class="float-right btn btn-secondary"
            type="button" onclick="window.location.href='{% url 'game' comment.review.game.slug %}'">View</button>
        </div>
      {% endfor %}
    {% else %}
      <div class="container-fluid w-100">
        <p><strong>User has not made any comments.</strong></p>
      </div>
    {% endif %}
  </div>
{% endblock %}
