{% extends 'reviews/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Register
{% endblock %}

{% block stylesheets_block %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block body_block %}
<h1>{{ heading }}</h1>
  <div class="container-fluid col-sm-8 p-5 mx-auto">
    <form action="{% url 'register' %}" method="POST" id="registerForm">
	    {% csrf_token %}

      {% for field in user_form.visible_fields %}
        <div class="row">
          <div class="col-sm-4">{{ field.help_text }}</div>
          <div class="col">{{ field }}</div>
        </div>
        <div class="row">
          <div class="col-sm-4">&nbsp;</div>
          <div class="col text-danger">{{ field.errors|striptags }}</div>
        </div>
      {% endfor %}

  	  {% if user_form.non_field_errors %}
  	    <div class="row">
  	      <div class="col-sm-4">&nbsp;</div>
  		    <div class="col text-danger">{{ user_form.non_field_errors|striptags }}</div>
  		  </div>
      {% endif %}

      <p>Got an account?</p>
      <div class="form-row clearfix">
        <button class="float-left btn btn-secondary" type="button"
            onclick="window.location.href='{% url 'login' %}'">Log In</button>
        <button class="float-right btn btn-secondary" type="submit"
          form="registerForm">Register</button>
      </div>
    </form>
  </div>
{% endblock %}
