{% extends 'reviews/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Restricted!
{% endblock %}

{% block stylesheets_block %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/restricted.css' %}">
{% endblock %}

{% block body_block %}
  <h1>{{ heading }}</h1>

  <div class="container-fluid text-center w-50">
    <p class="my-5">{{ message }}</p>

    <button class="w-25" type="button"
      onclick="window.location.href='{% url 'index' %}'">Back to Home</button>
  </div>
{% endblock %}
